 body {
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;
	min-width: 1200px;
	color: #000000;
	background-color: #ffffff;
}

h1 {
	font-size: 55px;
	line-height: 55px;
}

/*общие свойства*/

.wrapper {
	width: 1160px;
	margin: 0 auto;
}

.clearfix::after {
  	content: "";
  	display: table;
  	clear: both;
}

.main-header {
  	margin: 0 auto;
  	padding: 0;
  	padding-left: 20px;
  	padding-right: 20px;
  	color: #000000;
	background-color: #eeeeee;
}

.main-logo {
	float: left;
 	width: 160px;
	margin-right: 140px;
}

.main-logo img {
	width: 160px;
	height: 65px;
	padding-top: 48px;
	padding-bottom: 18px;
	opacity: 1;
}

.main-logo img:hover {
  	opacity: 0.8;
}

.main-logo img:active {
  	opacity: 0.3;
}

.main-navigation {
  	float: left;
  	width: 660px;
  	text-transform: uppercase;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 0;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
  	line-height: 30px;
}

.main-navigation a {
	display: block;
	padding-top: 75px; 
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 18px;
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover {
  	color: #fb565a;
}

.main-navigation a:active {
  	color: #ababab;
}

.main-basket {
  	float: right;
  	max-width: 160px;
}

.basket {
	position: relative;
  	display: inline-block;
  	vertical-align: top;
  	margin-top: 75px;
  	margin-bottom: 28px;
  	margin-left: 80px;	
  	list-style: none;
  	line-height: 30px;
  	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
}

.main-basket .basket:hover {
  	color: #fb565a;
}

.main-basket .basket:active {
  	color: #ababab;
}

.basket::before {
  	content: "";
  	position: absolute;
  	top: 81px;
  	left: 45px;
  	width: 15px;
  	height: 15px;
  	background-color: red;
  	opacity: 1;
}

.btn {
	display: inline-block;
  	padding: 15px 45px;
  	font-weight: normal;
  	font-size: 16px;
  	line-height: 18px;
  	font-family: "Roboto Medium", "Arial", sans-serif;
  	vertical-align: top;
  	text-align: center;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-decoration: none;
  	background-color: #fb565a;
  	border: none;
  	border-radius: 2px;
  	cursor: pointer;
}

.btn:hover {
  	background-color: #e74246;
}

.btn:active span{
	opacity: 0.2;
}

.btn:active {
	background-color: #d7373b; 
}

.line {
	background-color: #eeeeee;
	width: 100%;
	height: 2px;
}

/*спрайт*/

.sprite {
    background-image: url(""../img/sprite.png"");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-checbox-off {
    width: 23px;
    height: 23px;
    background-position: -10px -45px;
}

.sprite-checbox-on {
    width: 27px;
    height: 23px;
    background-position: -10px -88px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -131px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -173px;
}

.sprite-radio-off {
    width: 25px;
    height: 25px;
    background-position: -10px -214px;
}

.sprite-radio-on {
    width: 25px;
    height: 25px;
    background-position: -10px -259px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -304px;
}

/*index.html*/

.news {
	padding-left: 20px;
  	padding-right: 20px;
	margin-bottom: 81px;
	color: #000000;
  	background-color: #eeeeee;
}

.description-news {
	float: left;
 	width: 400px;
 	margin-top: 68px;
}

.image-news {
	float: right;
	width: 698px;
	min-height: 413px;
	margin-right: 31px;
}

.services {
  	margin-bottom: 81px;
  	padding-left: 20px;
  	padding-right: 20px;
}

.services-item {
 	float: left;
	width: 300px;
	min-height: 146px;
	margin-right: 100px;
}

.services-item:last-child {
  	margin-right: 0;
}

.services-description .services-name {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-description p {
	padding-right: 56px;
}

.services-item:nth-child(2) .btn {
	background-color: #00ca74;
}

.services-item:nth-child(2) .btn:hover {
  	background-color: #00bc6c;
}

.services-item:nth-child(3) .btn {
	background-color: #efc84a;
}

.services-item:nth-child(3) .btn:hover {
  	background-color: #eab534;
}

.about-us {
	padding-left: 20px;
	margin-bottom: 75px;
	margin-top: 41px;
}

.who-are-we {
	float: left;
	width: 700px;
}
 
.who-are-we p b {
	display: block;
	font-size: 45px;
	line-height: 45px;
	margin-top: 39px;
	margin-bottom: 35px;
}

.principles-item p {
	display: block;
	padding-right: 80px;
	margin-bottom: 44px;
}

.design {
	display: block;
}

.design p {
	text-transform: uppercase;
	margin-bottom: 29px;
	font-weight: bold;
}

.design ul {
	margin: 0;
  	padding: 0;
  	list-style: none;
}

.design li {
	position: relative;
  	margin-bottom: 27px;
  	padding-left: 40px;
}

.design li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.interest {
	float: right;
	width: 360px;
  	padding-right: 20px;
}

.interest .logo {
	width: 360px;
	min-height: 208px;
}

.accuracy-item {
	display: block;
	text-transform: uppercase;
	margin-top: 36px;
	margin-bottom: 45px;
	font-weight: bold;
}

.percent {
	float: left;
	width: 120px;
}

.percent h2 {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: bold;
}

.percent p {
	font-family: "Roboto Regular", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.partners {
	margin-bottom: 81px;
}

.partners-item {
	display: inline-block;
	width: 260px;
	min-height: 90px;
	margin-right: 18px;
	margin-left: 18px;
	text-align: center;
	position: relative;
	vertical-align: middle;
}

.partners-item:last-child {
	margin-right: 0;
}

.partners-item:first-child img {
	width: 199px;
	height: 68px;
	opacity: 0.2;
}

.partners-item:nth-child(2) img {
	width: 209px;
	height: 90px;
	opacity: 0.2;
}

.partners-item:nth-child(3) img {
	width: 185px;
	height: 52px;
	opacity: 0.2;
}

.partners-item:last-child img {
	width: 173px;
	height: 84px;
	opacity: 0.2;
}

.partners-item img:hover {
  	opacity: 1;
}

.partners-item img:active {
  	opacity: 0.1;
}

.partners-item::before {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
	right: 0;
	top: 0;
}

.partners .wrapper {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

/*inner.html*/

.main-navigation .active {
	position: relative;
	background-color: none;
}

.main-navigation .active::after {
  	content: "";
  	position: absolute;
  	right: 25px;
  	bottom: 8px;
  	left: 25px;
  	height: 2px;
  	background-color: #fb565a;
}

.templates {
	min-height: 241px;
	margin-bottom: 61px;
	color: #000000;
  	background-color: #eeeeee;
}

.templates h1 {
	margin: 0;
	text-align: center;
	font-size: 55px;
	line-height: 241px;
}

/*поиск*/
.search {
	float: left;
	width: 260px;
	padding-left: 20px;
  	padding-right: 20px;
}
 .search-price {
 	margin-bottom: 56px;
 }

.search-grid{
	margin-bottom: 44px;
}

.search-features {
	margin-bottom: 50px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label{
	display: block;
	line-height: 20px;
	padding-left: 35px;
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

input[type="radio"] + label::before {
	content: "";
	width: 25px;
    height: 25px;
    background-position: -10px -214px;
	background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-position: -10px -259px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label{
	display: block;
	line-height: 20px;
	padding-left: 35px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	width: 23px;
    height: 23px;
    background-position: -10px -45px;
	background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
    background-position: -10px -88px;
}

.search p,
.layout-item .name-layout {
	font-size: 18px;
  	line-height: 30px;
  	text-transform: uppercase;
  	font-weight: bold;
}

.search .net-item,
.search label,
.info-item .info-layout {
	font-size: 16px;
  	line-height: 20px;
}

.sorting {
	float: right;
	width: 760px;
}

/*сортировка*/
.sort {
	float: left;
	margin-right: 40px;
	width: 360px;
	text-align: left;
	font-size: 18px;
  	line-height: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.sorting-options {
	float: right;
	width: 360px;
}

.sorting-options ul{
	padding: 0;
	list-style: none;
	line-height: 0;
}

.sorting-options li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
  	line-height: 18px;
	vertical-align: top;
}

.sorting-options a {
	text-decoration: none;
	color: #000000;
}

.by-price {
	width: 60px;
	margin-right: 100px;
}

.by-name {
	width: 120px;
	margin-right: 20px;
	text-align: center;
	opacity: 0.3;
}
.by-top {
	opacity: 0.3;
}

.layout {
	float: right;
	width: 760px;
}

.layout-item {
	float: left;
	position: relative;
	width: 360px;
	min-height: 576px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.layout-item:nth-child(2),
.layout-item:nth-child(4),
.layout-item:nth-child(6) {
	margin-right: 0;
}

.layout-item .info-item {
	position: absolute;
	top: 346px;
	width: 360px;
	min-height: 232px;
	text-align: center;
	background: #eeeeee;
	z-index: 1;
	display: none;
}

.layout-item .name-layout {
	padding-top: 30px;
	font-size: 18px;
  	line-height: 30px;
  	font-weight: bold;
	text-transform: uppercase;
}

.layout-item .info-layout{
	font-size: 16px;
  	line-height: 18px;
}

.info-item .btn {
	padding: 0;
	padding: 20px 62px;
}

.layout-item:hover .info-item {
	display: block;
}

/* страницы*/
.pages {
	float: left;
	width: 760px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.pages a {
	display: inline-block;
	min-width: 46px;
    height: 46px;
    margin-right: 11px;
    line-height: 46px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
	text-transform: uppercase;
    color: #000000;
    background: #eeeeee;
    border: 3px solid #eeeeee;
    border-radius: 3px;
}

.pages a:first-child {
	background: #ffffff;
}

.pages a:hover {
	background: #dfdfdf;
	border-color: #dfdfdf;
}

.pages a:last-child {
	width: 260px;
}


/*общие свойства*/

.footer-map {
	position: relative;
	left: -140px;
	width: 1440px;
	height: 416px;
	margin-bottom: 70px;
	background-size: 100%;
	background: #eeeeee url("../img/map.png") no-repeat center top;
}

.checkbox {
	position: absolute;
	top: 90px;
	left: 820px;
	width: 231px;
	height: 190px;
}

.map-contact {
	position: absolute;
	top: 56px;
	left: 140px;
	width: 276px;
	height: 310px;
	padding-left: 44px;
	color: #000000;
	background-color: #ffffff;
}

.map-contact,
.footer-social {
	margin-left: 20px;
}

.map-contact .name {
	font-size: 18px;
  	line-height: 30px;
  	font-weight: bold;
  	padding-top: 50px;
	text-transform: uppercase;
}

.map-contact .adress,
.map-contact .number {
	font-size: 16px;
  	line-height: 18px;
  	color: #666666;
}

.footer-social {
  	float: left;
 	width: 260px;
	margin-right: 130px;
	margin-bottom: 70px;
}

.social-btn {
	display: inline-block;
	width: 78px;
	height: 78px;
	border-radius: 39px;
	font-size: 0;
  	text-decoration: none;
	background-color: #e1e1e1;
	position: relative;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
}

.social-btn:hover {
  	background-color: #e74246;
}

.social-btn:active {
  	background-color: #d7373b; 
}

.social-btn-vk::before {
	width: 26px;
    height: 15px;
    background-position: -10px -304px;
}

.social-btn-fb::before {
	width: 12px;
    height: 22px;
    background-position: -10px -131px;
}

.social-btn-inst::before {
 	width: 21px;
    height: 21px;
    background-position: -10px -173px;
}

.footer-benefit {
	float: left;
	width: 560px;	
}

.footer-benefit h3 {
	font-size: 36px;
  	line-height: 36px;
  	font-weight: bold;
  	margin: 0;
}

.footer-benefit p {
	font-size: 16px;
  	line-height: 22px;
  	color: #444444;
  	margin: 0;
  	padding-top: 10px;
}